[user]
	name = Keichi Takahashi
	email = keichi.t@me.com
	signingkey = 86C93199
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	compression = 0
	precomposeunicode = true
	quotepath = false
[color]
	ui = true
[alias]
      lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
      lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
      gc-branch = !git branch --merged | grep -vE '^\\*|master$|develop$' | xargs -I % git branch -d %
      gc-remote-branch = !git branch --remote --merged | grep -vE '^\\*|master$|develop$' | xargs -I % git branch -r -d %
      diffw = diff --color-words --word-diff

[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[diff]
	compactionHeuristic = true
[pager]
	diff = diff-highlight | less
	show = diff-highlight | less
	log = diff-highlight | less
