Xft.dpi: 210
Xft.antialias: true
Xft.rgba: rgb

URxvt.saveLines: 10000
URxvt.allow_bold: true
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false
URxvt*font: xft:Ricty:size=10:antialias=true

URxvt.perl-ext-common: xim-onthespot
URxvt.inputMethod: fcitx
URxvt.preeditType: OnTheSpot

URxvt*foreground: white
URxvt*background: black
*color0:  #2e3436
*color1:  #a40000
*color2:  #4e9a06
*color3:  #c4a000
*color4:  #3465a4
*color5:  #75507b
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #ef2929
*color10: #8ae234
*color11: #fce94f
*color12: #729fcf
*color13: #ad7fa8
*color14: #fcaf3e
*color15: #eeeeec
