Xft.dpi: 210
Xft.antialias: true
Xft.rgba: rgb

URxvt.saveLines: 10000
URxvt.allow_bold: true
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false
URxvt*font: xft:Ricty:size=10:antialias=true

URxvt.perl-ext-common: xim-onthespot
URxvt.inputMethod: fcitx
URxvt.preeditType: OnTheSpot

URxvt.foreground:   #e8dfd6
URxvt.background:   #021b21
URxvt.cursorColor:  #2e3340
URxvt.color0:       #032c36
URxvt.color8:       #065f73
URxvt.color1:       #c2454e
URxvt.color9:       #ef5847
URxvt.color2:       #7cbf9e
URxvt.color10:      #a2d9b1
URxvt.color3:       #8a7a63
URxvt.color11:      #beb090
URxvt.color4:       #2e3340
URxvt.color12:      #61778d
URxvt.color5:       #ff5879
URxvt.color13:      #ff99a1
URxvt.color6:       #44b5b1
URxvt.color14:      #9ed9d8
URxvt.color7:       #f2f1b9
URxvt.color15:      #F6F6C9
